import { Component, OnInit } from '@angular/core';
import { hasPermission } from '@fitlab/tooling';

@Component({
  selector: 'app-home-page',
  standalone: true,
  templateUrl: './home.page.html',
  styleUrl: './home.page.scss',
})
export class HomePage implements OnInit {
  token = 'No context token';
  hasAdminAccess = false;

  ngOnInit() {
    const mfeContext = (window as any).mfeContext;
    if (mfeContext) {
      this.token = mfeContext.token || 'Guest';
      this.hasAdminAccess = hasPermission(mfeContext.permissions, '<%= dasherize(name) %>:*');
    }
  }
}
